* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #1d1817;
	font-family: 'Poppins', sans-serif;
}

.logo {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 35%;
}

.nav-links {
	list-style: none;
}

.nav-links a{
	color: #ffffff;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div{
	width: 25px;
	height: 3px;
	background-color: #ffffff;
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		 right: 0px;
		 height: 92vh;
		 top: 8vh;
		 background-color: #FA8072;
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 width: 50%;
		 transform: translateX(100%);
		 transition: transform 0.5s ease-in;
	}
	.nav-links li {
		opacity: 0;
	}
	.burger {
		display: block;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}



@media screen and (max-width: 1024px) {

.nav-links {
	width: 70%;
	}
}



.toggle .line1 {
	transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px,-6px);
}



/* Navbar underline on hover*/
ul li a {
	position: relative;
	color: #ecf0f1;
	text-transform: uppercase;
	padding: 4px 0;
	transition: 0.5s;
}
ul li a::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 3px;
	top: 100%;
	left: 0;
	background: #c9cbb3;
	transition: transform 0.5s;
	transform: scaleX(0);
	transform-origin: right;
}
ul li a:hover {
	color: #c9cbb3;
}
ul li a:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

/* Background image */
body {
	background-image: url(bg1.jpg); 
	background-repeat: no-repeat; 
	background-position: center;
	background-attachment: fixed;       
	webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%; 
  	 
}


